.footer-container {
  display: flex;
  background-color: #1f2428;
  bottom: 0;
  position: fixed;
  color: white;
  width: 100%;
  height: 45px;
  align-items: center;
  border-top: 1px solid #4a5058;
  justify-content: center;
}

.links-footer {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
}

.links-footer p {
  padding: 0 1rem;
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 13px;
  border-right: 1px solid #4a5058;

}

.icon-container {
  width: 45px;
  height: 45px;
  border-right: 1px solid #4a5058;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.icon-footer {
  font-size: 1.2rem;
  transition: 0.5s;
}

.icon-footer:hover {
  color: #bdbebe;
}

.text-footer {
  font-size: 14px;
}

@media screen and (max-width: 855px) {
  .text-footer {
    display: none;
  }
}