.home-content {
  padding: 1rem;
  margin-top: 100px;
}

.home-content h1 {
  font-size: 50px;
  color: white;
}

.home-content h2 {
  font-size: 22px;
  font-weight: 400;
  color: #768390;
}

.home-content p {
  font-size: 20px;
  color: #539BF5;
}

.span {
  color: #539BF5;
}

.main-wrapper.home {
  justify-content: center;
}

.image {
  width: 500px;
  margin-top: 50px;
}

.btn-download {
  border:none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #306DCA;
  color: white;
  transition: 0.3s;
}

.btn-download:hover {
  background-color: #225aad;
  color: white;
}

@media screen and (max-width: 1375px) {
  .main-wrapper.home {
    flex-direction: column;
  }

  .home-content {
    margin-top: 0;
    margin-bottom: 5rem;
  }

  .home-content h1 {
    font-size: 50px;
  }
  
  .home-content h2 {
    font-size: 30px;
  }
  
  .home-content p {
    font-size: 20px;
  }
  
  .image {
    width: 450px;
    order: 1;
  }

  .home-content {
    order: 2;
  }
  .btn-download {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .home-content h1 {
    font-size: 35px;
  }
  
  .home-content h2 {
    font-size: 20px;
  }
  
  .home-content p {
    font-size: 16px;
  }

  .image {
    width: 400px;
  }
}